<h2>Polish Notation Calculator Data</h2>
<table>
  <thead>
    <tr>
      <th>Expression</th>
      <th>Stack</th>
      <th>Result</th>
      <th>Type</th>
      <th>Value</th>
      <th>Precedence</th>
    </tr>
  </thead>
  <tbody>
    {{#each @steps as |step|}}
      <tr>

        <td>{{step.Expression}}</td>
        <td>{{step.Stack}}</td>
        <td>{{step.Result}}</td>
        <td>{{step.Type}}</td>
        <td>{{step.Value}}</td>
        <td>{{step.Precedence}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>